:root {
  --color: #212121;
  --accent-color: #2196f3;
  --small-text-color: #757575;
  --background-color: #ffffff;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  background: var(--background-color);
  color: var(--color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.menu-link.current {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*---------HEADER-------*/

/*.top-header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}*/

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.blue-text-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--small-text-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--small-text-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

/*---------HERO-------*/
.hero {
  /*position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;*/
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
}

/*-----------Features---------*/
.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-item-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--small-text-color);
}
/*-----------Activity---------*/
.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*----------Team--------*/

.team {
  background: #f5f4fa;
}

.team-cards-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-proffesion {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--small-text-color);
}

/*---------FOOTER-------*/
.footer {
  background: #2f303a;
}
.white-text-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.address {
  font-style: normal;
}

.address-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.info-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-location:hover,
.address-location:focus {
  color: var(--accent-color);
}

.info-link:hover,
.info-link:focus {
  color: var(--accent-color);
}

/*---------Web-Studio portfolio-------*/
/*-----------Filter buttons-----------*/
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-btn.current {
  color: var(--background-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--background-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*-------------Work examples-------------*/
.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--small-text-color);
}
